<div class="modal-bg"></div>
<div class="modal-container">
    <div class="modal-header">
        <img class="close" (click)="toggleClose()" src="https://cdn-icons-png.flaticon.com/512/9972/9972749.png" style="height: 30px; width: 30px;">
    </div>
    <br>
    <div class="modal-content">
        <img [src]="item?.image">
        <p class="title">{{item?.name}}</p>
        <p class="description">{{item?.description}}</p>
    </div>

    <div class="modal-footer">
        <h2>R$ {{item?.price}}</h2>
        <button>Comprar</button>
    </div>
</div>