<header>
  <p class="logo">RPlace</p>
</header>

<main>
  <div class="aff">
    <div class="card_container">

      <div class="card_header">
        <span>Login</span>
        <img src="https://img.icons8.com/ios_filled/512/FFFFFF/cancel.png">
      </div>

      <div class="card_main">

        <input 
          type="text" 
          placeholder="Usuário"
          [(ngModel)]="username">

        <input 
          type="password" 
          placeholder="Senha"
          [(ngModel)]="password">

        <button (click)="login()">Entrar</button>

      </div>

    </div>
  </div>
</main>