<header>
    <p style="font-weight: bold; font-size: 30px;">
        B de básico
    </p>
</header>
<main>
    <div class="aff">
        <div class="card_container">
            <div class="card_header">
                <div style="display: flex; align-items: center; justify-content: center; height: 73px; width: 900px; font-size: 30px; font-weight: bold;">Login</div>
                <img src="https://cdn-icons-png.flaticon.com/512/9972/9972749.png" value=" a" style="height: 25px; width: 25px; margin: 15px;">
            </div>
            <div class="card_main">
                <div class="login-card">
                    <input type="text" placeholder=" User: " [value]="Value" (input)="EnviarNome($event) ">
                    <input type="text" placeholder=" Password: " [value]="Value" (input)="EnviarNome($event)">
                </div>
            </div>
            <div class="card_footer">
                <button> send </button>
            </div>
        </div>
    </div>
</main>