.aff {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card_container {
  border-radius: 10px;
  box-shadow: 0 0 10px;
  width: 300px;
  overflow: hidden;
}

.card_header {
  background-color: rgb(10, 112, 1);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;
}

.card_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

input {
  border-radius: 7px;
  height: 40px;
  border: 2px solid rgb(0, 105, 18);
  padding: 0 10px;
}

button {
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(10, 112, 1);
  color: white;
  cursor: pointer;
}